<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="/header :: header"></div>
<body>
<div class="container">
    <div class="row mb-5">
        <h1>List Todos</h1>
    </div>
    <table class="table table-striped table-hover table-border">
        <thead class="table-dark">
        <th style="width:10%">#</th>
        <th style="width:20%">Task Description/th>
        <th style="width:20%">Due Date</th>
        <th style="width:20%">Status</th>
        <th style="width:20%">Actions</th>
        </thead>
        <tbody>
        <tr th:each="todo, todoStat : ${todos}">
            <td th:text="${todoStat.count}"></td>
            <td th:text="${todo.task}">/td>
            <td th:text="${#temporals.format(todo.dueDate, ' dd MMM yyyy')}"></td>
            <td th:text="${todo.status}"></td>
            <td>
                <a th:href="@{/todos/{todoId}/edit(todoId=${todo.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/todos/{todoId}/delete(todoId=${todo.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>